fastapi==0.95.2
uvicorn[standard]==0.23.2
SQLAlchemy==2.0.22
authlib==1.6.9
python-dotenv==1.0.0
requests==2.33.0
cryptography==46.0.5
boto3==1.28.82
pytest>=8.0.0,<10.0.0
httpx==0.24.1
alembic==1.14.0
psycopg2-binary==2.9.7
PyMySQL==1.1.1
rq==1.15.1
redis==5.0.7
prometheus-client==0.20.0
